.box {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 12px;
  background: #003366;
  color: white;
  border: none;
}
