.container {
  background: white;
  padding: 25px;
  border-radius: 10px;
}

.classBox {
  margin-top: 30px;
}

.tableWrapper {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}

.present {
  background: #c8f7c5;
  color: green;
  font-weight: bold;
}

.absent {
  background: #f7c5c5;
  color: red;
  font-weight: bold;
}

.empty {
  color: #999;
}
