.present {
  color: green;
  font-weight: bold;
}

.absent {
  color: red;
  font-weight: bold;
}

.presentBtn {
  background: green;
  color: white;
  border: none;
  padding: 6px 10px;
  margin-right: 5px;
}

.absentBtn {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
}
