.formBox {
  padding: 30px;
  max-width: 500px;
  margin: auto;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 12px;
  background: #003366;
  color: white;
  border: none;
}

/* Mobile spacing */
@media (max-width: 600px) {
  .formBox {
    padding: 20px;
  }
}
