.container {
  padding: 50px;
  text-align: center;
}

.container h1 {
  font-size: 32px;
}

.section {
  margin-top: 40px;
  background: #f3f3f3;
  padding: 25px;
  border-radius: 10px;
}

/*  Mobile */
@media (max-width: 768px) {
  .container {
    padding: 25px;
  }

  .container h1 {
    font-size: 24px;
  }
}
